.message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message {
  font-family: monospace;
  line-height: 1.6;
  font-size: 30px;
  text-align: center;
  background: white;
  margin-top: 20px;
  padding: 5px 2px;
}
